@{
    ViewBag.Title = "About";
}

<div class="w-100 my-2">
    <h3>About Page</h3>
</div>

<p>A web application made with ASP.NET Framework 4.7.2 using bootstrap styling and performing basic Create, Read, Update and Delete operation. </p>
