@{
    ViewBag.Title = "Contact";
}

<div class="w-100 my-2">
    <h3>Contact Page</h3>
</div> 

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>